@use "./mixin.scss" as *;

.developersBG {
  height: 130vh;
  transform: skewY(-7deg);
  background-color: $clr-primary;
  margin-top: -110px;

  @media screen and (max-width: 900px) {
    height: 110vh;
  }

  @media screen and (max-width: 600px) {
    height: 130vh;
  }

  @media screen and (max-width: 400px) {
    height: 170vh;
  }
}

.lineSection {
  @include lineSection;
  z-index: 1;
  top: 0%;

  .line:first-child {
    @include line(0);
    background-image: linear-gradient(#ffffff 33%, rgba(255, 255, 255, 0) 0%);
  }

  .line:nth-child(2) {
    @include line(calc(25% + 5px));
    background-image: linear-gradient(#ffffff 33%, rgba(255, 255, 255, 0) 0%);
  }

  .line:nth-child(3) {
    @include line(calc(50% - 1px));
    background-image: linear-gradient(#ffffff 33%, rgba(255, 255, 255, 0) 0%);
  }

  .line:nth-child(4) {
    @include line(calc(75% - 6px));
    background-image: linear-gradient(#ffffff 33%, rgba(255, 255, 255, 0) 0%);
  }

  .line:nth-child(5) {
    @include line(100%);
    background-image: linear-gradient(#ffffff 33%, rgba(255, 255, 255, 0) 0%);
  }
}

.developersContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: 0 17rem;
  margin-top: -50rem;

  @media screen and (max-width: 900px) {
    margin: 0 2rem;
    margin-top: -60rem;
  }

  @media screen and (max-width: 600px) {
    margin-top: -70rem;
  }

  .developersLeftColumn {
    .heading {
      color: $clr-tertiary;
      font-size: 18px;
      font-weight: 600;
    }

    .title {
      color: #fff;
      font-size: 40px;
      font-weight: 600;
      letter-spacing: -2px;
    }

    .text {
      color: #adbdcc;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: -1px;
    }

    .btn {
      @include btn($clr-tertiary);
      width: fit-content;
      color: $clr-primary;

      &:hover {
        background-color: #fff;
      }
    }

    .btn > .arrow {
      @include arrow($clr-primary);
    }

    .extraInfoContainer {
      display: flex;
      flex-direction: row;
      gap: 2.5rem;
      margin-top: 6.5rem;

      @media screen and (max-width: 900px) {
        flex-direction: column;
      }

      .extraTitle {
        color: #fff;
        font-size: 15px;
        font-weight: 500;
      }

      .extraText {
        color: #adbdcc;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
      }

      .extraBtn {
        @include secondaryBtn($clr-tertiary);
        padding-left: 0;

        &:hover {
          color: #fff;
        }

        &:hover > .arrow {
          color: #fff;
          border-right: 2px solid #fff;
          border-bottom: 2px solid #fff;
        }
      }

      .extraBtn > .arrow {
        @include arrow($clr-tertiary);
      }
    }
  }
}
