@use "./mixin.scss" as *;

.globeBG {
  height: 90vh;
  transform: skewY(-7deg);
  background-color: $clr-primary;

  @media screen and (max-width: 900px) {
    height: 50rem;
  }
}

.globeContainer {
  margin: 5rem 17rem;
  position: absolute;
  margin-top: -30rem;

  @media screen and (max-width: 900px) {
    margin: 5rem 2rem;
    margin-top: -40rem;
  }

  .heading {
    color: $clr-tertiary;
    font-size: 18px;
    font-weight: 600;
  }

  .title {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -2px;
  }

  .text {
    color: #adbdcc;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -1px;

    a {
      color: $clr-tertiary;
      transition: 0.2s;

      &:hover {
        color: #fff;
        transition: 0.2s;
      }
    }
  }

  .columnContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;
    gap: 2.5rem;

    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }

    .columnTitle {
      color: #fff;
      font-size: 25px;
      font-weight: 600;
      margin-block-end: 0;
    }

    .columnText {
      color: #adbdcc;
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.globeBGEnd {
  background-color: $clr-primary;
  height: 40vh;
  margin-top: -10rem;

  @media screen and (max-width: 900px) {
    height: 20rem;
  }

  @media screen and (max-width: 600px) {
    height: 30rem;
  }
}
