@use "./mixin.scss" as *;

.mobileMenuContainer {
  background-color: #fff;
  z-index: 2;
  position: absolute;
  top: -100%;
  opacity: 0;
  left: 0;
  margin: 1rem 1rem;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
    0 30px 60px -30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: -webkit-fill-available;
  transition: 0.5s ease-in-out;
  overflow: hidden;

  .mobileMenuTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .mobileMenuLogo {
      width: 60px;
      height: 25px;
      transition: 0.2s ease-in-out;
    }

    .backButton {
      display: flex;
      align-items: center;
      left: 5%;
      transition: 0.2s ease-in-out;
      position: absolute;
      .backText {
        padding-left: 3px;
        font-size: 16px;
        color: $clr-secondary;
      }
    }
  }

  .divider {
    height: 1px;
    background: linear-gradient(
      90deg,
      #cfcfcf,
      #cfcfcf 50%,
      transparent 0,
      transparent
    );
    background-size: 8px 1px;
  }

  .productsContainer {
    background-color: #f6f9fb;

    .menuTitle {
      margin-block-start: 0;
      margin-block-end: 0;
      padding: 16px;
      color: #3f4b66;
      font-size: 18px;
      font-weight: 600;
    }

    .productsList {
      list-style: none;
      padding: 16px;
      margin: 0;

      .productsListItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6rem;
        padding-bottom: 1rem;

        .listItemTextContainer {
          display: flex;
          flex-direction: column;

          .listItemHeading {
            color: $clr-primary;
            margin: 0;
            font-size: 16px;
            font-weight: 600;
          }

          .listItemText {
            margin: 0;
            font-size: 15px;
            color: #727f96;
            padding-top: 5px;
          }
        }
      }
    }
  }

  .mobileLinks {
    list-style: none;
    padding: 16px 0px;
    padding-right: 16px;
    margin: 0;

    .mobileLink {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0;

      .mobileLinkHeading {
        margin-block-start: 0;
        margin-block-end: 0;
        padding: 16px;
        color: #3f4b66;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }

  .mobileMenuButtonContainer {
    display: flex;
    justify-content: center;
    background-color: #f6f9fb;
    border-radius: 4px;
    padding: 20px;
    margin-top: 10rem;

    .mobileMenuBtn {
      @include btn($clr-secondary);
      z-index: 1;

      &:hover {
        background-color: hsla(0, 0%, 100%, 0.4);
        color: #fff;
      }
    }

    .mobileMenuBtn > .arrow {
      @include arrow(#fff);
    }
  }
}

.mobileMenuOpen {
  opacity: 100%;
  top: 0;
}

.hideElement {
  opacity: 0 !important;
  left: 10% !important;
}
